{% extends 'base.html' %}
{% set hide_navbar = True %}
{% block page_specific_styles %}
<link href="{{ url_for('static', filename='css/signUp.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="full-page">
    <div class="left-panel">
        <img src="{{ url_for('static', filename='images/loginimg2.png') }}" alt="Employee Login Image" width="556" height="780">
    </div>

    <div class="right-panel">
        <a href="/" class="logo-container text-center">
            <img class="logo" src="{{ url_for('static', filename='images/sheng_logo.png') }}" alt="Logo"
                 height="50px">
        </a>
        <h2 class="text-center">Employee Login</h2>
        <form action="{{ url_for('main.employee_login') }}" method="POST">
            <input type="text" class="form-control" name="employee_id" placeholder="Employee ID" required>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            <div class="form-check">
                <p class="login-text">
                    Are you a customer? <a href="{{ url_for('main.login') }}" class="link-primary">Login here</a>
                </p>
            </div>
            <button type="submit" class="btn btn-dark w-100">Login</button>
        </form>
    </div>
</section>
{% endblock %}
